.mainPage{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:inherit;

    .content{
        display: flex;
        flex-direction: row;
        width:100%;
        height:inherit;
    }
}