.header{
    width:100%;
    height:43px;
    background: #27272A;
    border-bottom:1px solid #414144;
    
    .content{
        display:flex;
        justify-content: flex-start;
        align-items:center;
        width: 100%;
        height:100%;

        .hotButtons{
            display: flex;
            align-items: center;
            margin:10px;

            .iconButton{
                display:flex;
                justify-content: center;
                align-items: center;
                width:24px;
                height:24px;
                margin:0 10px;
                cursor:pointer;
            }
        }
    }
}